[postgresql]
host=web:5432
database=clusteval
user=clusteval
password=

[threading]
SupervisorThreadSleepTime = 5000
DataSetFinderThreadSleepTime = 5000
RunResultFinderThreadSleepTime = 5000
RunFinderThreadSleepTime = 5000
ClusteringQualityMeasureFinderThreadSleepTime = 5000
ParameterOptimizationMethodFinderThreadSleepTime = 5000
DataStatisticFinderThreadSleepTime = 5000


[maven]
compbio=http://maven.compbio.sdu.dk/repository/snapshots/
compbio_release=http://maven.compbio.sdu.dk/repository/internal/
