type = AgnesRProgram
# list of parameters of the program
parameters = k,metric,method
# list of valid optimization parameters
optimizationParameters = k,metric,method

[k]
# description
desc = number of clusters
# type 1=integer, 2=float, 0=string
type = 1
# default value
def = 2
# minimal value
minValue = 1
# maximal value
maxValue = $(numberOfElements)

[metric]
# description
desc = metric to calculate dissimilarities
# type 1=integer, 2=float, 0=string
type = 0
# default value
def = euclidean
options = euclidean,manhattan

[method]
# description
desc = linkage method to use
# type 1=integer, 2=float, 0=string
type = 0
# default value
def = average
options = average,single,complete,ward,weighted,flexible
