type = CLARARProgram
# list of parameters of the program
parameters = k,metric,samples
# list of valid optimization parameters
optimizationParameters = k,metric,samples

[k]
# description
desc = number of clusters
# type 1=integer, 2=float, 0=string
type = 1
# default value
def = 2
# minimal value
minValue = 1
# maximal value
maxValue = $(numberOfElements)

[metric]
# description
desc = metric to calculate dissimilarities
# type 1=integer, 2=float, 0=string
type = 0
# default value
def = euclidean
options = euclidean,manhattan

[samples]
# description
desc = number of random samples to use
# type 1=integer, 2=float, 0=string
type = 1
# default value
def = 20
# minimal value
minValue = 1
# maximal value
maxValue = 1000
