program = clusterONE/clusterONE.sh
parameters = s,d
optimizationParameters = s,d
compatibleDataSetFormats = RowSimDataSetFormat
outputFormat = clusterONERunResultFormat
alias = clusterONE

[invocationFormat]
invocationFormat = bash %e% %o% %i% -s %s% -d %d%

[d]
desc = density threshold
type = 2
def = 0.3
minValue = 0.899
maxValue = 0.905

[s]
type = 1
def = 3
minValue = 1
maxValue = 1
