type = CMeansClusteringRProgram
parameters = k,m
optimizationParameters = k,m

[k]
desc = Number clusters
# type 1=integer, 2=float, 0=string
type = 1
# default value
def = 2
# minimal value
minValue = 2
# maximal value
maxValue = $(numberOfElements)

[m]
desc = fuzziness coefficient
type = 0
def = 2.0
options = 1.01,1.5,2.25,3.5,5.0
