type = DBSCANClusteringRProgram
# list of parameters of the program
parameters = eps,MinPts
# list of valid optimization parameters
optimizationParameters = eps,MinPts

[eps]
# description
desc = x dimension of the map
# type 1=integer, 2=float, 0=string
type = 2
# default value
def = $(minSimilarity)
# minimal value
minValue = 0.0
# maximal value
maxValue = 348.26

[MinPts]
# description
desc = y dimension of the map
# type 1=integer, 2=float, 0=string
type = 1
# default value
def = 5
# minimal value
minValue = 127
# maximal value
maxValue = 507

