type = DensityCutRProgram
# list of parameters of the program
parameters = K,alpha
# list of valid optimization parameters
optimizationParameters = K,alpha

# The number of nearest neighbors
[K]
# description
desc = Number nearest neighbors
# type 1=integer, 2=float, 0=string
type = 1
# default value
def = 3
# minimal value
minValue = 1
# maximal value
maxValue = $(numberOfElements)

# dumping factor
[alpha]
desc = Dumpin factor
type = 2
def = 0.9
minValue = 0
maxValue = 1
