type = FannyClusteringRProgram
parameters = k,membexp
optimizationParameters = k,membexp

[k]
desc = Number clusters
# type 1=integer, 2=float, 0=string
type = 1
# default value
def = 2
# minimal value
minValue = 2
# maximal value
maxValue = $(numberOfElements)

[membexp]
desc = Membership exponent
type = 2
def = 2.0
minValue = 1.1
maxValue = 10
