type = FannyClusteringRProgram
parameters = k,membexp
optimizationParameters = k,membexp

[k]
desc = Number clusters
# type 1=integer, 2=float, 0=string
type = 1
# default value
def = 2
# minimal value
minValue = 2
# maximal value
maxValue = $(numberOfElements)

[membexp]
desc = Membership exponent
type = 0
def = 2.0
options = 1.1,2.0,5.0
