type = HierarchicalClusteringRProgram
# list of parameters of the program
parameters = k,method
# list of valid optimization parameters
optimizationParameters = k,method

[k]
# description
desc = Number clusters
# type 1=integer, 2=float, 0=string
type = 1
# default value
def = 2
# minimal value
minValue = 6
# maximal value
maxValue = 6

[method]
desc = linkage method
type = 0
def = complete
options = complete
