program = MCL/mcl-12-068
parameters = I
optimizationParameters = I
compatibleDataSetFormats = RowSimDataSetFormat
outputFormat = MCLRunResultFormat
alias = Markov Clustering
expectsNormalizedDataSet = true

[invocationFormat]
invocationFormat = %e% %i% --abc -o %o% -I %I%

[I]
desc = Inflation
type = 2
def = 2.0
minValue = 3.494
maxValue = 3.494
