program = MCODE/MCODE_wrapper_132.jar
parameters = d,cutoff,haircut,fluff,v
optimizationParameters = cutoff,haircut,fluff,v
compatibleDataSetFormats = RowSimDataSetFormat
outputFormat = MCODERunResultFormat
alias = MCODE

[envVars]
DISPLAY = :0

[invocationFormat]
invocationFormat = java -jar %e% -cutoff %cutoff% -i %i% -o %o% -d %d% -v %v% -F %fluff% -H %haircut% -f 0.1

[d]
desc = Max. Depth
type = 1
def = 1
minValue = 1
maxValue = 1

[v]
desc = Vertex Weight Percentage
type = 0
def = 0.2
options = 0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9

[fluff]
desc = fluffing
type = 0
def = T
options = T,F

[haircut]
desc = haircut
type = 0
def = T
options = T,F

[cutoff]
desc = Similarity Threshold
type = 2
def = 0.7
minValue = $(minSimilarity)
maxValue = $(maxSimilarity)
