type = SOMClusteringRProgram
# list of parameters of the program
parameters = x,y
# list of valid optimization parameters
optimizationParameters = x,y

[x]
# description
desc = x dimension of the map
# type 1=integer, 2=float, 0=string
type = 1
# default value
def = 2
# minimal value
minValue = 2
# maximal value
maxValue = 2

[y]
# description
desc = y dimension of the map
# type 1=integer, 2=float, 0=string
type = 1
# default value
def = 1
# minimal value
minValue = 1
# maximal value
maxValue = 1

